@model IPagedList<AlbumsListViewModel>

<div id="albumsList">

    <div class="pagedList" data-photoshare-target="#albumsList">
        @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var item in Model)
    {
        <div>
            <h2>@item.Name</h2>
            <p>@item.Description</p>
            <p>Photos: @item.PhotosCount</p>
        </div>
    }
</div>