@model IEnumerable<PhotoShare.Models.AlbumsListViewModel>
@{
    ViewBag.Title = "Home Page";
}

@*<form method="get">
    <input type="text" name="searchTerm" />
    <input type="button" value="Search" />
</form>*@

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "albumsList"

}))
{
    <input type="search" name="searchTerm" data-photoshare-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" value="Search by Name" />
}

@Html.Partial("_Photos", Model)