@model IPagedList<AlbumsListViewModel>
@{
    ViewBag.Title = "Home Page";
}

@*<form method="get">
    <input type="text" name="searchTerm" />
    <input type="button" value="Search" />
</form>*@

<form method="get" action="@Url.Action("Index")"
    data-photoshare-ajax="true" data-photoshare-target="#albumsList">
    <input type="search" name="searchTerm" data-photoshare-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" value="Search by Name" />
</form>

@Html.Partial("_Photos", Model)