@model IEnumerable<PhotoShare.Models.Album>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h2>@item.Name</h2>
        <p>@item.Description</p>
    </div>
}